@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-orange: #d97706;
  --footer-bg: #332b2b;
  --text-gray: #908b8a;
}

body {
  font-family: 'Mulish', sans-serif;
  background: #ffffff;
  color: #333333;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}
